<div id="container">
  <div id="question">
    <p><%= @question %></p>
    <p>-You</p>
  </div>

  <div id="response">
      <p><%= @response %></p>
      <p>-Your Coach</p>
    </div>
  </div>
</div>
