<div>
  <div id="question">
    <p style="font-family:monoscape; font-size: 25px"><%= @question %></p>
    <p style="font-family:monoscape; font-size: 20px">-You</p>
  </div>

  <div id="response">
      <p style="font-family:monoscape; font-size: 25px"><%= @response %></p>
      <p style="font-family:monoscape; font-size: 20px">-Your Coach</p>
    </div>
  </div>
</div>
